__pycache__
*.pyc
*.tar.gz
*pb2*.py
/model/
/build/
/target/
/runs/
/uploads/
/test_images/
.idea/*
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/object-recognition-train.iml

/building.h5
/building.json
